<% if user_signed_in? %> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<h1>Hello <%= current_user.first_name %>!</h1>

<% if @owned_companies.any? %>
  <div class="owned-companies">
    <h2>Companies you own:</h2>
    <ul>
      <% @owned_companies.each do |company| %>
        <li><%= link_to company.name, company %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>You don't own any companies yet.</p>
<% end %>
<br>
<%= button_to "Create New Company", new_company_path, method: :get %>
<br>
<hr>
<h2>Your Appointments:</h2>
<% if @appointments.any? %>
  <div>
    <ul>
      <% @appointments.each do |appointment| %>
        <li><%= link_to appointment.appointment_time, appointment %>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>You don't have any appointment.</p>
<% end %>
<%= button_to "Create New Appointment", new_appointment_path, method: :get %>

<br><hr><br>

<h2>Companies you have a client intake form record:</h2>
<% if @client_intake_forms.any? %>
  <div>
    <ul>
      <% @client_intake_forms.each do |client_intake_form| %>
        <li><%= link_to client_intake_form.company.name, client_intake_form.company %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>You don't have any client intake forms associated with companies.</p>
<% end %>


<br>
