
<div>
  <%= link_to "Back home", root_path %>
</div>

<div>
  <h2><%= @company.name %></h2>
  <p><strong>Phone Number:</strong> <%= @company.phone_number %></p>
  <p><strong>Address:</strong> <%= @company.address %></p>
  <p><strong>City:</strong> <%= @company.city %></p>
  <p><strong>Country:</strong> <%= @company.country %></p>
</div>

<div>
  <%= link_to "Edit Company", edit_company_path(@company) %>
</div>
<br>
<hr>
<br>

<div>
  <h2>Memberships:</h2>
  
  <h3>Owners:</h3>
  <% if @owners.any? %>
    <% @owners.each do |membership| %>
      <p>
        <%= membership.user.email %> - 
        <%= link_to "Edit", edit_membership_path(membership) %>
      </p>
    <% end %>
  <% else %>
    <p>No owners found.</p>
  <% end %>

  <h3>Employees:</h3>
  <% if @employees.any? %>
    <% @employees.each do |membership| %>
      <p><%= membership.user.email %> - 
        <%= link_to "Edit", edit_membership_path(membership) %>
      </p>
    <% end %>
  <% else %>
    <p>No employees found.</p>
  <% end %>

  <h3>Clients:</h3>
  <% if @clients.any? %>
    <% @clients.each do |membership| %>
      <p><%= membership.user.email %> - 
        <%= link_to "Edit", edit_membership_path(membership) %>
      </p>
    <% end %>
  <% else %>
    <p>No clients found.</p>
  <% end %>
</div>

<div>
  <%= link_to "Add New Membership", new_membership_path(company_id: @company.id) %>
</div>

<br>
<hr>
<br>

<div>
  <h2>Client intake forms:</h2>
  <% if @client_intake_forms.any? %>
    <ul>
      <% @client_intake_forms.each do |form| %>
        <li>
          <%= link_to "##{form.id} - #{form.first_name} #{form.last_name}", client_intake_form_path(form) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No clients form found.</p>
  <% end %>
</div>

<div>
  <%= link_to "Add New Client", new_client_intake_form_path(company_id: @company.id) %>
</div>
