<div class="container">
  <!-- Back Home Button -->
  <div class="text-end mb-4">
    <%= link_to "Back Home", root_path, class: "btn btn-secondary" %>
  </div>
  <!-- Company Details -->
  <div class="mb-4 border p-3">
    <div class="row">
      <div class="col-md-6">
        <h2>Company Details</h2>
        <p><strong>Name:</strong> <%= @company.name %></p>
        <p><strong>Phone Number:</strong> <%= @company.phone_number %></p>
        <p><strong>Address:</strong> <%= @company.address %></p>
        <p><strong>City:</strong> <%= @company.city %></p>
        <p><strong>Country:</strong> <%= @company.country %></p>
        <% if !@current_user_owns_company %>
          <%= link_to "Book Appointment", new_appointment_path(company_id: @company.id), class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
      <% if @current_user_owns_company %>
        <div class="col-md-6">
          <%= link_to "Edit", edit_company_path(@company), class: "btn btn-secondary float-end" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <% if @current_user_owns_company %>
    <!-- Appointments Section -->
    <div class="mb-4 border p-3">
      <h2>Upcoming Appointments</h2>
      <% @upcoming_appointments.each do |appointment| %>
        <p><%= appointment.appointment_time %> - <%= appointment.user.email %></p>
      <% end %>
      <%= link_to "Book Appointment", new_appointment_path(company_id: @company.id), class: "btn btn-primary mt-3" %>
      <%= link_to "View All Appointments", company_appointments_path(@company), class: "btn btn-primary mt-3" %>
    </div>

    <!-- Memberships -->
    <div class="mb-4 border p-3">
      <h2>Memberships</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Owners:</h3>
          <% if @owners.any? %>
            <ul class="list-group">
              <% @owners.each do |membership| %>
                <li class="list-group-item">
                  <%= membership.user.email %> - 
                  <%= link_to "Edit", edit_membership_path(membership), class: "btn btn-sm btn-outline-secondary" %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No owners found.</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <h3>Employees:</h3>
          <% if @employees.any? %>
            <ul class="list-group">
              <% @employees.each do |membership| %>
                <li class="list-group-item">
                  <%= membership.user.email %> - 
                  <%= link_to "Edit", edit_membership_path(membership), class: "btn btn-sm btn-outline-secondary" %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No employees found.</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <h3>Clients:</h3>
          <% if @clients.any? %>
            <ul class="list-group">
              <% @clients.each do |membership| %>
                <li class="list-group-item">
                  <%= membership.user.email %> - 
                  <%= link_to "Edit", edit_membership_path(membership), class: "btn btn-sm btn-outline-secondary" %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No clients found.</p>
          <% end %>
        </div>
      </div>
      <%= link_to "Add New Membership", new_membership_path(company_id: @company.id), class: "btn btn-primary mt-3" %>
    </div>

    <!-- Client Intake Forms -->
    <div class="mb-4 border p-3">
      <h2>Client Intake Forms</h2>
      <div class="row">
        <div class="col-md-12">
          <% if @client_intake_forms.any? %>
            <ul class="list-group">
              <% @client_intake_forms.each do |form| %>
                <li class="list-group-item">
                  <%= link_to "##{form.id} - #{form.first_name} #{form.last_name}", client_intake_form_path(form) %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No client intake forms found.</p>
          <% end %>
        </div>
      </div>
      <%= link_to "Add New Client", new_client_intake_form_path(company_id: @company.id), class: "btn btn-primary mt-3" %>
    </div>

    <!-- Employment Application Forms -->
    <div class="mb-4 border p-3">
      <h2>Employees</h2>
      <div class="row">
        <div class="col-md-12">
          <% if @employment_application_forms.any? %>
            <ul class="list-group">
              <% @employment_application_forms.each do |form| %>
                <li class="list-group-item">
                  <%= link_to "##{form.id} - #{form.user.first_name} #{form.user.last_name} -  #{form.user.email}", employment_application_form_path(form) %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No employee found.</p>
          <% end %>
        </div>
      </div>
      <%= link_to "Add New Employee", new_employment_application_form_path(company_id: @company.id), class: "btn btn-primary mt-3" %>
    </div>
  <% end %>
</div>
