<div class="container">
  <!-- Edit Appointment Form -->
  <div class="mb-4 border p-3">
    <h1>Edit Appointment</h1>
    <%= form_with(model: @appointment, url: appointment_path(@appointment), method: :patch) do |f| %>
      <div class="col-md-6">
        <div class="mb-3">
          <%= f.label :company_id, "Select Company", class: "form-label" %>
          <%= f.collection_select :company_id, Company.all, :id, :name, selected: @appointment.company_id, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= f.label :user_id, "Select User", class: "form-label" %>
          <%= f.collection_select :user_id, User.all, :id, :email, selected: @appointment.user_id, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= f.label :appointment_time, class: "form-label" %>
          <%= f.datetime_field :appointment_time, value: @appointment.appointment_time, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :duration, class: "form-label" %>
          <%= f.select :duration, options_for_select(@duration_options, @appointment.duration), class: "form-select" %>
        </div>

        <div class="mb-3"></div> <!-- Empty div for spacing -->

        <div class="actions">
          <%= f.submit "Update Appointment", class: "btn btn-primary me-2" %>
          <%= link_to "Back Home", root_path, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
