<h1>Your Appointments</h1>

<% if @appointments.any? %>
  <% @appointments.each do |appointment| %>
    <ul>
      <li><strong>Company:</strong> <%= appointment.company.name %></li>
      <li><strong>User:</strong> <%= appointment.user.email %></li>
      <li><strong>Date and Time:</strong> <%= appointment.appointment_time.strftime("%Y-%m-%d %H:%M:%S") %></li>
      <li><strong>Status:</strong> <%= appointment.status %></li>
      <li><strong>Duration:</strong> <%= appointment.duration %> minutes</li>
      <li><strong>Price:</strong> <%= appointment.price %></li>
      <li><%= link_to "Edit", edit_appointment_path(appointment) %></li>
      <li><%= button_to "Delete", appointment, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this appointment?" } %></li>
    </ul>
  <% end %>
<% else %>
  <p>No appointments found.</p>
<% end %>
